html { background:radial-gradient(#238dbb, #114476); height:100%; text-align:center; font-family:Helvetica; font-size:1em; color:#ddd; }

h2 { font-size:4em; margin-bottom:0; text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);}

h3 { font-size:4em; margin-bottom:0; text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);}

input { text-align:center; text-transform:uppercase; padding:10px; font-size:0.8em; font-family:Helvetica; border:solid 2px #95bbdc; color:#111; }

#submit { display:block; text-transform:uppercase; background:#134c7e; border:solid 2px #95bbdc; width:150px; margin:10px auto; padding:8px; font-size:0.8em }
