h1{
 font:Helvetica;
 color:white;
 background-color: #FB4D46;
 font-size:48pt;
 font-weight:400

 }


footer{
 padding: 10px;
 font:Helvetica;
 color: white;
 background-color: #FB4D46;
}


button {
   border: none;
   color: white;
   font-size: 48pt;
   font:Helvetica;
   padding: 50px 50px; /
   cursor: pointer;
}

.chatbutton {background-color: #FFAA1D;}
.chatbutton:hover {background-color:#FB4D46 ;}

.meetbutton {background-color:     #FF5470;}
.meetbutton:hover {background: #FB4D46;}


@media (min-width:768px) {
.button{
  width: 48%;
  display: inline-block;
  padding: 5px;
}
