html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #00151d;
}

img.resize {
  max-width:35%;
  max-height:35%;
  padding: 40px;
  padding-left: 200px;
  background-color: #2E2D4D;
  margin-top: 40px;
  margin-bottom: 40px;
}

img.grouppic{
  display: inline-block;
}

#navbar {
  color:#2E2D4D;
  font-size:16pt;
  margin-left: 40px;
  margin-top: 40px;
  }


h1{
 color:white;
 background-color: #2E2D4D;
 font-size:48pt;
 font-weight:400;
 }

#intro{
    font-weight: bold;
    font-size:26pt;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}

button {
   color: white;
   font-size: 48pt;
   font:'Source Sans Pro';
   padding: 40px 40px;
   cursor: pointer;
   border:none;
   margin: 40px;
}


#chatbutton {
  background-color: #2E2D4D;
  border-radius: 25px;
  margin-bottom: 100px;
  display: block;
  margin:auto;
  margin-bottom:40px;
}

#chatbutton:hover {
  background-color: #E4E3D3;
  color: #2E2D4D;
}

#chatbutton:visited {
  text-decoration: none;
}

#meetbutton {
  background-color:#2E2D4D;
  border-radius: 25px;
  display: block;
  margin:auto;
}

#meetbutton:hover {
  background-color: #E4E3D3;
  color: #2E2D4D;
}

footer{
 padding: 40px;
 font:'Source Sans Pro';
 color: white;
 background-color: #2E2D4D;
 margin-top: 40px;
}

@media (min-width:768px) {
.button{
  width: 48%;
  display:inline-block;
  padding: 5px;
}
